.button {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;

    -webkit-user-select: none;
    user-select: none;

    height: 3rem;
    width: 16.5rem;

    font-size: 1.35rem;
    font-family: var(--font-harmony);

    background-color: #EEECEC;
    color: var(--color-dark);

    border-radius: var(--radius-pill);
    border: 0.1rem, solid;
    outline: 0.2rem solid;

    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.45);

    transition-duration: var(--transition-time);
    transition-property: background-color, color, border-color, outline-color;

    & .bg {
        position: absolute;
        inset: 0;
        margin-right: 1.44rem;

        background-color: currentColor;
        -webkit-mask-image: url('@/assets/bgs/deco_btn_contour_lines.png');
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: right center;
        -webkit-mask-size:  auto 110%;
        mask-image: url('@/assets/bgs/deco_btn_contour_lines.png');
        mask-repeat: no-repeat;
        mask-position: right center;
        mask-size:  auto 110%;
        
        opacity: 0.9;
    }

    & .icon {
        width: 2.25rem;
        height: 2.25rem;
        flex-shrink: 0;
        margin-right: 0.63rem;

        background-color: currentColor;
        
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-size: contain;
        mask-repeat: no-repeat;
    }
}

.button-deco {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 1.8rem;
    margin-right: 1.1rem;
    flex: 1;

    opacity: 0.5;

    & .node {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: currentColor;
    }

    & .line {
        flex: 1;
        height: 0.05rem;
        background-color: currentColor;
    }
}